USE [master]
GO
/****** Object:  Database [dian]    Script Date: 2019/1/27 9:59:48 ******/
CREATE DATABASE [dian]
 --CONTAINMENT = NONE	--by 古兆洋注释
 ON  PRIMARY 
--( NAME = N'dian', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dian.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
( NAME = N'dian', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\dian.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
--( NAME = N'dian_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dian_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
( NAME = N'dian_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\dian_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
--ALTER DATABASE [dian] SET COMPATIBILITY_LEVEL = 110	--by 古兆洋注释
GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [dian].[dbo].[sp_fulltext_database] @action = 'enable'
--end
--GO
ALTER DATABASE [dian] SET ANSI_NULL_DEFAULT OFF 
GO
--ALTER DATABASE [dian] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
--GO
--ALTER DATABASE [dian] SET TARGET_RECOVERY_TIME = 0 SECONDS 
--GO
--ALTER DATABASE [dian] SET DELAYED_DURABILITY = DISABLED 
--GO
EXEC sys.sp_db_vardecimal_storage_format N'dian', N'ON'
GO
--ALTER DATABASE [dian] SET QUERY_STORE = OFF
--GO
USE [dian]
GO
/*
ALTER DATABASE SCOPED CONFIGURATION SET LEGACY_CARDINALITY_ESTIMATION = OFF;
GO
*/
USE [dian]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [varchar](20) NOT NULL,
	[EMPLOYEE_NAME] [varchar](20) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[SEX] [char](1) NOT NULL,
	[OFFICE_PHONE] [varchar](20) NOT NULL,
	[MOBILE_PHONE] [varchar](20) NOT NULL,
	[IS_ADMIN] [bit] NOT NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[FOOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[FOOD_TYPE_ID] [int] NOT NULL,
	[FOOD_TASTE] [char](1) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[FOOD_IMAGE_NAIL1] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL2] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL3] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL4] [varchar](100) NULL,
	[FOOD_IMAGE1] [varchar](100) NULL,
	[FOOD_IMAGE2] [varchar](100) NULL,
	[FOOD_IMAGE3] [varchar](100) NULL,
	[FOOD_IMAGE4] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_FOOD] PRIMARY KEY CLUSTERED 
(
	[FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD_TYPE]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD_TYPE](
	[FOOD_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_TYPE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NULL,
 CONSTRAINT [PK_FOOD_TYPE] PRIMARY KEY CLUSTERED 
(
	[FOOD_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERLIST]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERLIST](
	[LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[FOOD_ID] [int] NOT NULL,
	[COUNT] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
	[ORDER_TIME] [varchar](50) NULL,
	[CONFIRM_TIME] [varchar](50) NULL,
	[CANCEL_TIME] [varchar](50) NULL,
	[FINISH_TIME] [varchar](50) NULL,
	[TASTE] [varchar](1) NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_ORDERLIST] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERMAIN]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERMAIN](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
 CONSTRAINT [PK_ORDERMain] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RESTAURANT_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_NAME] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](100) NOT NULL,
	[DESCREPTION] [varchar](200) NOT NULL,
	[LEVEL] [char](1) NOT NULL,
	[AREA] [char](1) NOT NULL,
	[PARKING_COUNT] [int] NOT NULL,
	[RESTAURANT_MAP] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_RESTAURANT] PRIMARY KEY CLUSTERED 
(
	[RESTAURANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLE]    Script Date: 2019/1/27 9:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE](
	[TABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [RESTAURANT_ID], [PASSWORD], [SEX], [OFFICE_PHONE], [MOBILE_PHONE], [IS_ADMIN], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (N'admin', N'admin', 1, N'admin', N'3', N'', N'123', 1, CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [RESTAURANT_ID], [PASSWORD], [SEX], [OFFICE_PHONE], [MOBILE_PHONE], [IS_ADMIN], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (N'user001', N'user001', 1, N'123', N'1', N'', N'123', 0, CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [RESTAURANT_ID], [PASSWORD], [SEX], [OFFICE_PHONE], [MOBILE_PHONE], [IS_ADMIN], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (N'user002', N'user002', 2, N'123', N'2', N'', N'123', 0, CAST(N'2019-01-06T16:21:40.330' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.330' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[FOOD] ON 

SET IDENTITY_INSERT [dbo].[FOOD] OFF
SET IDENTITY_INSERT [dbo].[FOOD_TYPE] ON 

INSERT [dbo].[FOOD_TYPE] ([FOOD_TYPE_ID], [FOOD_TYPE_NAME], [RESTAURANT_ID]) VALUES (1, N'特色菜', 1)
INSERT [dbo].[FOOD_TYPE] ([FOOD_TYPE_ID], [FOOD_TYPE_NAME], [RESTAURANT_ID]) VALUES (2, N'川菜', 1)
INSERT [dbo].[FOOD_TYPE] ([FOOD_TYPE_ID], [FOOD_TYPE_NAME], [RESTAURANT_ID]) VALUES (3, N'湘菜', 1)
SET IDENTITY_INSERT [dbo].[FOOD_TYPE] OFF
SET IDENTITY_INSERT [dbo].[ORDERMAIN] ON 

INSERT [dbo].[ORDERMAIN] ([ORDER_ID], [RESTAURANT_ID], [TABLE_ID], [PRICE], [ORDER_FLAG]) VALUES (1, 1, 1, CAST(0.00 AS Decimal(18, 2)), N'1')
SET IDENTITY_INSERT [dbo].[ORDERMAIN] OFF
SET IDENTITY_INSERT [dbo].[RESTAURANT] ON 

INSERT [dbo].[RESTAURANT] ([RESTAURANT_ID], [RESTAURANT_NAME], [ADDRESS], [DESCREPTION], [LEVEL], [AREA], [PARKING_COUNT], [RESTAURANT_MAP], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (1, N'机场路分店', N'机场路分店', N'机场路分店', N'4', N'1', 5, NULL, CAST(N'2019-01-06T16:21:40.297' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.297' AS DateTime), N'admin')
INSERT [dbo].[RESTAURANT] ([RESTAURANT_ID], [RESTAURANT_NAME], [ADDRESS], [DESCREPTION], [LEVEL], [AREA], [PARKING_COUNT], [RESTAURANT_MAP], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (2, N'北京路分店', N'北京路分店', N'北京路分店', N'1', N'1', 5, NULL, CAST(N'2019-01-06T16:21:40.297' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.297' AS DateTime), N'admin')
INSERT [dbo].[RESTAURANT] ([RESTAURANT_ID], [RESTAURANT_NAME], [ADDRESS], [DESCREPTION], [LEVEL], [AREA], [PARKING_COUNT], [RESTAURANT_MAP], [CREATE_TIME], [CREATE_PERSON], [UPDATE_TIME], [UPDATE_PERSON]) VALUES (3, N'越秀公园分店', N'越秀公园分店', N'越秀公园分店', N'1', N'1', 10, NULL, CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin', CAST(N'2019-01-06T16:21:40.313' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[RESTAURANT] OFF
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDERLIST_ORDER_FLAG]  DEFAULT ((0)) FOR [ORDER_FLAG]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_ORDER_TIME]  DEFAULT ('') FOR [ORDER_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_CONFIRM_TIME]  DEFAULT ('') FOR [CONFIRM_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_CANCEL_TIME]  DEFAULT ('') FOR [CANCEL_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_FINISH_TIME]  DEFAULT ('') FOR [FINISH_TIME]
GO
USE [master]
GO
